    body{
        font-family:Georgia;
        background-color:black;
        margin: 65px;
        padding-left: 450px;
        font-size: large;
    }
    label{
        display: block;
        margin:10px;
    }
    article{
        border: 1px solid red;
        width: 190px;
        padding:60px;
        border-radius: 10px;
        background-color:aqua;
        
    }
    p{
        font-size: x-large;
        font-style:oblique;
        font-family:Arial;
    }
    input{
        background-color:white;
        border: 2px solid black;
        width: 190px;
        padding-bottom: 10px;
    }
    button{
        margin-top: 20px;
        border-radius: 10px;
        background-color:beige;
        width: 200px;
        padding: 5px;
    }